<div class="small-centered columns">
  <a href="https://dunejewelry.com/"><img src="dunejewelry.png" id="dunelogo"></a>
</div>

<div>
  <div class="row small-centered columns">
    <div class="large-4 medium-6 small-12 columns">
      <img src="dune_anchor.jpg" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="dune_port.jpg" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="dune_star.jpg" class="small-12 small-centered colums">
    </div>
  </div>

  <div class="row small-centered columns">
    <div class="large-4 medium-6 small-12 columns">
      <img src="dune_heart.jpg" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="dune_ring.jpg" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="dune_dolphin.jpg" class="small-12 small-centered colums">
    </div>
  </div>
</div>
