
<div class="row">
  <div class="large-12 columns">

  <div class="row">
    <div class="large-12 hide-for-small">
      <div id="featured" data-orbit>
        <img class="slide-image" src="woman_medium2.png" alt="slide image">
        <img class="slide-image" src="repair_medium2.png" alt="slide image">
        <img class="slide-image" src="jewelry_medium.png" alt="slide image">
      </div>
    </div>
  </div>

    <div class="row">
      <div class="large-12 columns show-for-small">
        <img src="woman_small.png">
      </div>
    </div><br>




    <div class="row">
      <div class="large-12 columns">
        <div class="row">

          <div class="large-4 small-6 columns">

            <h4>Directory</h4><hr>

            <div class="row">
              <div class="large-1 column">
              </div>

              <div class="large-9 columns">
                <h5><a href="jewelry#index">Jewelry</a></h5>
              </div>
            </div><hr>

              <div class="row">
                <div class="large-1 column">
                </div>

                <div class="large-9 columns">
                  <h5 class="subheader"><a href="repairs#index">Repairs</a></h5>
                </div>
              </div><hr>

              <div class="row">
                <div class="large-1 column">
                </div>

                <div class="large-9 columns">
                  <h5 class="subheader"><a href="about#index">About Us</a></h5>
                </div>

            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="bracelet_small.png">
          </div>


          <div class="large-4 small-12 columns">

            <h4>Come Visit Us</h4><hr>
            <div class="panel" id="map">
            </div>

            <div class="panel hide-for-small">
              <h6>641 Dartmouth St.</h6>
              <h6>South Dartmouth, MA 02748</h6>
              <h6>(508) 994-2914</h6>
            </div>

            <!-- <div class="panel hide-for-small">
              <h6>Mon-Tue: 10:00 am-4:00 pm</h6>
              <h6>Thu-Fri: 10:00 am-4:00 pm</h6>
              <h6>Sat: 10:00 am-3:00 pm </h6>
              <h6>Closed Wednesdays and Sundays</h6>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
