<div class="small-centered columns">
  <a href="http://www.citizenwatch.com/en-us/"><img src="citizen_logo.png" id="dunelogo"></a>
</div>

<div>
  <div class="row small-centered columns">
    <div class="large-4 medium-6 small-12 columns">
      <img src="citizen1.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="citizen2.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="citizen3.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
  </div>
</br>
  <div class="row small-centered columns">
    <div class="large-4 medium-6 small-12 columns">
      <img src="citizen4.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="citizen5.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="citizen6.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
  </div>
</div>
