<a href="http://www.suunto.com/" class="test"><img src="suunto_logo.png" id="dunelogo" class="small-centered columns"></a>

<div>
  <div class="row small-centered columns">
    <div class="large-4 medium-6 small-12 columns">
      <img src="suunto1.png" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="suunto2.png" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="suunto3.png" class="small-12 small-centered colums">
    </div>
  </div>
</br>
  <div class="row small-centered columns">
    <div class="large-4 medium-6 small-12 columns">
      <img src="suunto4.png" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="suunto5.jpg" class="small-12 small-centered colums">
    </div>

    <div class="large-4 medium-6 small-12 columns">
      <img src="suunto6.png" class="small-12 small-centered colums">
    </div>
  </div>
</div>
