<div class="banner_img large-9 small-12 small-centered columns">
  <img src="earring_banner.jpg">
</div>

</br>
<div>
  <div class="row small-centered columns">
    <div class="large-3 medium-6 small-12 columns">
      <img src="earring1.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="earring2.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="earring3.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="earring4.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
  </div>
</br>
  <div class="row small-centered columns">
    <div class="large-3 medium-6 small-12 columns">
      <img src="earring5.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="earring6.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="earring7.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="earring8.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
</div>
