<footer class="row">
  <div class="large-12 columns"><hr>
      <div class="row">

        <div class="large-6 columns">
          <a href="https://twitter.com/so_d_jewelry" class="icon-button twitter">
            <i class="fi-social-twitter"></i><span></span>
          </a>
          <a href="https://www.facebook.com/sodjewelry" class="icon-button facebook">
            <i class="fi-social-facebook"></i><span></span>
          </a>
        </div>

        <div class="large-6 small-12 columns">
            <ul class="inline-list right">
              <li><a href="about#index">About Us</a></li>
              <li><a href="jewelry#index">Jewelry</a></li>
              <li><a href="repairs#index">Repairs</a></li>
            </ul>
        </div>

      </div>
  </div>
</footer>
