<nav class="top-bar" data-topbar>
  <ul class="title-area">

    <li class="name">
      <h1>
        <a href="/">
          <div class="logo">So. D Jewelry</div>
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="main#index"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
      <a href="#">Menu</a>
      <ul class="dropdown">
        <li class="has-dropdown">
        <li><a href="about#index">About Us</a></li>
        <li><a href="jewelry#index">Jewelry</a></li>
        <li><a href="repairs#index">Repairs</a></li>
      </ul>
    </ul>
  </section>
</nav>
