<div class="banner_img large-9 small-12 small-centered columns">
  <img src="portugal_banner.jpg">
</div>

<div class="large-9 small-centered columns">
  <h2 class="section_headline text-center">Come and see our fine selection of authentic Portuguese Gold Jewelry!</h2>
  <h2 class="section_headline text-center">Every piece is 19.2ct and beautifully crafted!</h2>
  <hr />
</div>

<div>
  <div class="row small-centered columns">
    <div class="large-3 medium-6 small-12 columns">
      <img src="port1.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port2.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port3.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port4.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
  </div>
</br>
  <div class="row small-centered columns">
    <div class="large-3 medium-6 small-12 columns">
      <img src="port5.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port6.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port7.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port8.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
</div>
