<div>
  <h1 class="section_headline text-center">Portuguese Gold Jewelry (19.2 ct)</h1>
<div>
  <div class="row small-centered columns">
    <div class="large-3 medium-6 small-12 columns">
      <img src="port1.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port2.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port3.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port4.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
  </div>
</br>
  <div class="row small-centered columns">
    <div class="large-3 medium-6 small-12 columns">
      <img src="port5.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port6.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port7.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>

    <div class="large-3 medium-6 small-12 columns">
      <img src="port8.jpg" class="jewelry_index_pic small-12 small-centered colums">
    </div>
</div>
