<div class="row">

   <div class="large-4 small-12 columns">

     <img src="rings.jpg">

     <div>
       <h3 class="headline" >Our Selection</h3>
       <h5 class="subheader">We have pieces to suit any taste or occasion. Whether you prefer gold, silver
         or diamonds, we can accomodate your every need. Please come in to see our fine selection in person.
       </h5>
     </div>

   </div>

   <div class="large-8 columns">
     <div class="row">

       <div class="large-4 small-6 columns">
         <a href="dune#index"><img src="dune_main.jpg" class="jewelry_index_pic"></a>

         <div class="panel">
           <a href="dune#index"><h5 class="headline">Dune Jewelry</h5></a>
           <h6 class="subheader"></h6>
         </div>
       </div>

       <div class="large-4 small-6 columns">
         <a href="suunto#index"><img src="suunto_main.jpg" class="jewelry_index_pic"></a>

         <div class="panel">
           <a href="suunto#index"><h5 class="headline">Suunto Watches</h5></a>
           <h6 class="subheader"></h6>
         </div>
       </div>

       <div class="large-4 small-6 columns">
         <a href="citizen#index"><img src="citizen_main.jpg" class="jewelry_index_pic"></a>

         <div class="panel">
           <a href="citizen#index"><h5 class="headline">Citizen Watches</h5></a>
           <h6 class="subheader"></h6>
         </div>
       </div>

       <div class="large-4 small-6 columns">
         <a href="portugal#index"><img src="portugal_main.jpg" class="jewelry_index_pic"></a>

         <div class="panel">
           <a href="portugal#index"><h5 class="headline">Portuguese Gold</h5></a>
           <h6 class="subheader"></h6>
         </div>
       </div>

       <div class="large-4 small-6 columns">
         <a href="rings#index"><img src="ring_main.jpg" class="jewelry_index_pic"></a>

         <div class="panel">
           <a href="rings#index"><h5 class="headline">Diamond Rings</h5></a>
           <h6 class="subheader"></h6>
         </div>
       </div>

       <div class="large-4 small-6 columns">
         <img src="watch.jpg" class="jewelry_index_pic">

         <div class="panel">
           <h5 class="headline">Necklaces</h5>
           <h6 class="subheader"></h6>
         </div>
       </div>
     </div>

     </div>
   </div>
  </div>
