 <div class="row">
  <div class="large-6 medium-9 small-12 large-uncentered small-centered columns">
    <img src="lighthouse.jpg" class="about-pic">
  </div>

  <div class="about-body large-6 columns">
    <h4 class="section_headline">About Us</h4>
    <p>
      So. D Jewelry, which stands for South Dartmouth Jewelry, specializes in
      fine jewelry of all types. Whether you need that perfect gift for a
      celebration or an engagement ring for your upcoming engagement, you can
      find plenty of choices from our collections. We also carry a wide variety
      of locally made pieces that really speak to the spirit of New England.
    </p>

    <p>
      Along with our selection, we also offer a fully equipped repair shop. We
      can make your broken watch, clock or jewelry shine and perform like new
      again! Our staff even makes custom pieces to suit your individual need
      and styles. We hope you will stop by and browse our impressive wares and
      help support a local business that loves its neighborhood.
    </p>
  </br>
  <hr />
  </br>
    <fieldset>
      <legend class="section_headline">Hours</legend>
      <p class="hours text-center">
        Mon-Tue  10:00am - 4:00pm,
        Thu-Fri  10:00am - 4:00pm,
        Saturday 10:00am - 3:00pm
      </p>
    </fieldset>
  </div>
</div>
