 <div class="row">
  <div class="large-6 medium-9 small-12 large-uncentered small-centered columns">
    <img src="lighthouse.jpg" class="about-pic">
  </div>

  <div class="about-body large-6 columns">
    <h4 class="section_headline">About Us</h4>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
      et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
      condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
      neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
      eros eu erat.
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
      et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
      condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
      neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
      eros eu erat.
    </p>
    <fieldset>
      <legend class="section_headline">Hours</legend>
      <p class="hours text-center">
        Mon-Tue  10:00am - 4:00pm,
        Thu-Fri  10:00am - 4:00pm,
        Saturday 10:00am - 3:00pm
      </p>
    </fieldset>
  </div>
</div>
