@import "foundation_and_overrides";
@import "*";

body {

}

.slide-image {
  height: 500px;
}

.repair_thumb {
  height: 120px;
}

.repair_body {
  font-size: 12pt;
}

.top-bar {
  background: #DBC092;
}

.headline {
  font-family: 'Abril Fatface', cursive;
}

.logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 20pt;
}

#map {
  width: 300px;
  height: 300px;
}

// Social Media Links
i {
  font-size: 2.5rem;
}

.icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: white;
  span{
  display: block;
  border-radius: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  }
  &:hover span{
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem;
  }
  i {
  background: none;
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  left: 0;
  top:0;
  z-index: 10;
  line-height: 3.6rem;
  transition: all 0.3s;
  }
}

.twitter span{
  background-color: #4099ff;
}

.facebook span{
  background-color: #3B5998;
}

.gplus span{
  background-color: #db5a3c;
}

.icon-button .fi-social-twitter{
  color: #4099ff;
}

.icon-button .fi-social-facebook{
  color: #3b5998;
}

.icon-button .fi-social-google-plus {
  color: #db5a3c;
}

.icon-button:hover .fi-social-twitter, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-google-plus {
  color: white;
  font-size: 2.6rem;
  line-height: 3.9rem;
}

#dunelogo {
  margin: 25px;
  margin-right: 25px;
  padding: 25px;
  max-width: 300px;
}

.jewelry_index_pic {
  width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.section_headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
}

.banner_img {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
}
