



<div class="row">
  <div class="large-12 columns">
    <p><img class="repair-image" src="repair_medium2.png"/></p>
  </div>
</div>



<div class="row">
  <div class="large-5 columns">
    <h4 class="headline">Our Expert Repair Shop</h4>
    <p class="repair_body">Our experienced staff is ready and available for all your repair needs.
                           Whether it is a piece of broken jewelry that you've put off repairing or
                           a broken clock, let us restore it to new. You won't find anyone around more
                           affordable than So. D Jewelers for all your repair needs.</p>
  </div>

  <div class="large-2 columns">
    <h5 class="headline">Our Services</h5>
    <ul class="service-list">
      <li>Watch Repair</li>
      <li>Clock Repair</li>
      <li>Jewelry Repair</li>
      <li>Batteries</li>
      <li>Ring Resizing</li>
      <li>Stone Setting</li>
      <li>Pearl Stringing</li>
      <li>Custom Repairs</li>
      <li>Made to Order</li>
    </ul>
  </div>

  <div class="large-5 columns">
    <ul class="small-block-grid-3">
      <li><img class="repair_thumb" src="repair1.jpeg"/></li>
      <li><img class="repair_thumb" src="repair2.jpg"/></li>
      <li><img class="repair_thumb" src="repair3.png"/></li>
      <li><img class="repair_thumb" src="repair4.jpg"/></li>
      <li><img class="repair_thumb" src="repair5.jpg"/></li>
      <li><img class="repair_thumb" src="repair6.jpg"/></li>
    </ul>
  </div>
</div>
